@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: #272727;
  --table-bg: #ff652f;
  --outer: #ff652f; 
  --center: #14a76c;
  --text: #45A29E;
} */
/* :root {
  --primary: #112d32;
  --primary-text: #297985;
  --table-bg: #243232;
  --outer: #88bdbc; 
  --center: #6e6658;
  --text: #45A29E;
  --hover: #88bdbc;
} */
/* :root {
  --primary: #151a2c;
  --primary-text: #29648A;
  --table-bg: #2E9CCA;
  --outer: #f66c6c; 
  --center: #F8e9a1;
  --text: #45A29E;
  --hover: #88bdbc;
} */
:root {
  --primary: #222629;
  --primary-text: #81b094;
  --table-bg: #40484e;
  --outer: #3b945e; 
  --center: #65ccb8;
  --text: #45A29E;
  --hover: #505a62;
  --running: #597162;
  --finish: #212529;
  --finish-text:#394046;
}
/* :root {
  --primary: #302718;
  --primary-text: #ded2a8;
  --table-bg: #c7ab59;
  --outer: #c7ab59; 
  --center: #ded2a8;
  --text: #45A29E;
  --hover: #88bdbc;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
