@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #292929;
  --primary-text: #29648a;
  --table-bg: #2e9cca;
  --outer: #f66c6c;
  --center: #45a29e;
  --text: #45a29e;
  --hover: #88bdbc;
}
/*
:root {
  --primary: #222629;
  --primary-text: #81b094;
  --table-bg: #40484e;
  --outer: #3b945e;
  --outer-text: #ceeeda;
  --center: #65ccb8;
  --center-text: #293f3b;
  --text: #45a29e;
  --hover: #505a62;
  --running: #597162;
  --finish: #212529;
  --finish-text: #394046;

  --outer2: #943232;
  --outer-text2: #849e8d;
  --center2: #b1ab5b;
  --center-text2: #3f2f29;
  --mark: #ea7a52;
} */
/* :root {
  --primary: #17252a;
  --primary-text: #def2f1;
  --table-bg: #29424b;
  --outer: #2b7a78;
  --outer-text: #ceeeda;
  --center: #def2f1;
  --center-text: #436268;
  --text: #45a29e;
  --hover: #395352;
  --running: #26706d;
  --finish: #221f1f;
  --finish-text: #394046;

  --outer2: #5d5c61;
  --outer-text2: #ceeeda;
  --center2: #7395ae;
  --center-text2: #3f2f29;
  --mark: #9c9c9c;
} */
:root {
  --primary: #363538;
  --primary-text: #c2c2c2;
  --table-bg: #282729;
  --outer: #405697;
  --outer-text: #9db2ef;
  --center: #52d6f4;
  --center-text: #2b6977;
  --text: #52d6f4;
  --hover: #464646;
  --running: #567574;
  --finish: #221f1f;
  --finish-text: #394046;

  --outer2: linear-gradient(#6cacd2, rgb(41, 41, 41));
  --outer-text2: #ceeeda;
  --center2: linear-gradient(#d2c1df, rgb(18, 32, 73));
  --center-text2: #23194b;
  --mark: #cad6f8;
  --text2: #e9e8ce;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-width: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
