.indexContainer {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll;
}
.indexContainerDark {
  background: rgb(51, 51, 51);
  min-height: 100vh;
  min-width: 100vw;
  overflow: scroll
 
}

@media only screen and (max-width: 700px) {
  .indexContainer {
  }
  .indexContainerDark {
  }
}
